[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GWASExactHW"]
	path = GWASExactHW
	url = https://github.com/smgogarten/gwasexacthw
