[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GWASTools"]
	path = GWASTools
	url = https://github.com/smgogarten/gwastools
[submodule "SeqVarTools"]
	path = SeqVarTools
	url = https://github.com/smgogarten/seqvartools
